body {
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

h1 {
    font-size: 70px;
    color: green;
}

h2 {
    font-size: 40px;
    color:darkgreen
}

h3 {
    font-size:large 25px;
}